nav div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}
  
nav div ul li {
    float: left;
}
  
nav div ul li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav div ul li a:hover {
    color: white;
    background-color: #333;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
    nav div ul li a {
        display: block;

    }
}

@media only screen and (min-width: 45em) {  /* 720px */

}

@media only screen and (min-width: 60em) { /* 960px */

}