nav div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}
  
nav div ul li {
    float: left;
}
  
nav div ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav div ul li a:hover {
    color: white;
    background-color: #333;
}